.password-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #0d922a;
  padding: 0rem 1rem;
  background-color: inherit;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-item button {
  font: inherit;
  border: 2px solid #05110d;
  background: #811a13;
  color: white;
  cursor: pointer;

  font-size: 1rem;
  border-radius: 30px;
  width: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.password-item button:hover,
.password-item button:active {
  background: #db3644;
  border-color: #202020;
}

.password-item button:focus {
  outline: none;
}

.password-item button:disabled,
.password-item button:focus:disabled,
.password-item button:hover:disabled,
.password-item button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
