.password-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #0d922a;
  padding: 0rem 1rem;
  background-color: inherit;
}

.password-display {
  min-width: 15em;
}
.password-item Button {
  font-size: small;
  border: 2px solid #05110d;
  color: white;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: background-color 100ms linear;
}

.delete {
  background: rgb(110, 5, 5);
}
.delete:hover {
  background: rgb(112, 21, 21);
}

.copy:hover {
  background-color: rgb(31, 175, 168);
}
